@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styling */
body {
  @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-50 antialiased;
  margin: 0;
}

.dark select,
.dark option {
  background-color: #1e293b !important; /* slate-800 */
  color: #f1f5f9 !important;            /* slate-100 */
}

/* link styling */
a {
  @apply text-blue-500 hover:text-blue-400;
}
